@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-0FCDEF: #0FCDEF;
    --color-162B4E: #162B4E;
    --color-BABCC2: #BABCC2;
    --color-F8F9FF: #F8F9FF;
    --color-FFFFFF: #FFFFFF;
    --color-3535351A: #3535351A;
    --color-00000033: #00000033;
    --color-0000004d: #0000004d;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-F8F9FF);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.class-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.class-container__card {
    text-align: center;
    background-color: var(--color-FFFFFF);
    max-width: 500px;
    margin: auto;
    width: 100%;
    box-shadow: 0 2px 12px 3px var(--color-3535351A);
    border-radius: 4px;
}

.class-card__head {
    position: relative;
    height: 130px;
}

.class-card__head a {
    position: absolute;
    left: 3rem;
    top: 3rem;
    text-decoration: none;
    background-color: var(--color-0FCDEF);
    color: var(--color-FFFFFF);
    border-radius: 3px;
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    transition: all 300ms ease-in-out;
    opacity: 0.8;
}

.class-card__head a:hover {
    opacity: 1;
    color: var(--color-162B4E);
}

.class-head__user-image img {
    width: 100%;
    height: 100%;
}

.class-head__user-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.class-body__user-post-address {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-body__user-post-address>div {
    padding: 0 2rem;
}

.class-body__user-post-address>div span {
    display: block;
}

.class-body__user-post-address>div span:first-child {
    font-weight: 700;
    font-size: 1.9rem;
    color: var(--color-162B4E);
    opacity: 0.2;
}

.class-card__body {
    padding: 0 3rem 3.8rem 3rem;
}

.class-body__user-post-address>div span:last-child {
    font-weight: 500;
    color: var(--color-BABCC2);
    margin-top: 0.7rem;
}

.class-body__user-name {
    padding: 3rem 0 1.6rem 0;
    font-size: 1.9rem;
    color: var(--color-162B4E);
}

.class-body__user-name .class-user-name__title {
    font-weight: 700;
}

.class-body__user-name .class-user-name__full {
    font-weight: 600;
}

.class-body__user-name .class-user-name__age {
    color: var(--color-BABCC2);
}

.class-body__user-location-address {
    color: var(--color-162B4E);
    font-size: 1.8rem;
    opacity: 0.9;
    letter-spacing: 1px;
}

.class-card__foot {
    padding-top: 2.4rem;
    margin: 2.4rem 3rem;
    border-top: 1px solid var(--color-0FCDEF);
}

.class-foot__user-contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    font-size: 1.8rem;
    font-weight: 500;
}

.class-foot__user-contact-info span {
    color: var(--color-162B4E);
}

.class-foot__user-contact-info span i {
    color: var(--color-0FCDEF);
}

#id-container-generate-btn {
    background-color: var(--color-162B4E);
    color: var(--color-FFFFFF);
    font-family: inherit;
    font-size: 2rem;
    border: none;
    padding: 0.8rem 1.2rem;
    margin-top: 3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    opacity: 0.8;
}

#id-container-generate-btn:hover {
    opacity: 1;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.class-container__loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: var(--color-162B4E);
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
}

.class-container__loading::before,
.class-container__loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 0.5rem;
    border-color: transparent;
    border-style: solid;
    border-radius: 50%;
}

.class-container__loading::after {
    width: 6rem;
    height: 6rem;
    border-left: 0.5rem solid var(--color-0FCDEF);
    border-right: 0.5rem solid var(--color-0FCDEF);
    animation: loading 1.5s linear infinite;
}

.class-container__loading::before {
    width: 2rem;
    height: 2rem;
    border-left: 0.5rem solid var(--color-BABCC2);
    border-right: 0.5rem solid var(--color-BABCC2);
    animation: loading 2s linear reverse infinite;
}

.class-hide {
    display: none;
}

.class-visible {
    display: block;
}

@media screen and (max-width: 490px) {
    .class-container {
        margin: 4rem auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .class-card__head a {
        position: relative;
        left: 0;
        top: 10rem;
    }

    .class-body__user-post-address {
        flex-direction: column;
    }

    .class-body__user-post-address>div {
        margin-bottom: 1.4rem;
    }

    .class-foot__user-contact-info {
        flex-direction: column;
    }

    .class-body__user-post-address>div span:first-child {
        margin-bottom: 2rem;
    }
}